# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Google MCP Server Secrets
google-mcp-server/credentials.json
google-mcp-server/token.json

# Python cache
__pycache__/
*.py[cod]
*$py.class
